- provide :title, "Showing data for #{@user.full_name}"
%hr

%h1
  = @user.first_name
  = @user.last_name

- @user.informations.each do |information|
  %p
    = information.address
    = information.birthday
    = information.email
    = information.gender
    = information.relationship_status

- if @user.images.present?
  .row
    .twelve.columns
      - @user.images.each do |image|
        .three.mobile-two.columns
          .crop
            = image_tag image.link
          .panel
            %p Sample Images

- if @user.events.present?
  .row
    .twelve.columns
      - @user.events.each do |event|
        .two.columns.mobile-one
          %h3 event.name
        .five.columns
          %p event.place
        .five.columns
          %p event.time

-if @user.mutual_friends.present?
  .row
    .twelve.columns
      %h2 
        Find Some Recommendations for 
        = @user.first_name
        = @user.last_name
      - @user.mutual_friends.each do |friend|
        .two.columns.panel.float
          =image_tag friend.picture
          %p
            = link_to "Ask me!", "http://facebook.com/#{friend.username}", class: "tiny button"
          %h5
            =friend.name

-if @user.groups.present?
  .row
    .twelve.columns
      %h2 Commonly Used Groups
      - @user.groups.each do |group|
        - if group.bookmard_order < 999999999
          .twelve.columns.panel
            %h3
              =group.name
            %p
              = group.description
              Frequency of use: 
              %span.success.label
                = group.bookmard_order
            = link_to "Checkout Group", group.link, class: "small button"
  
-if @user.likes.present?
  .row
    .twelve.columns
      %h2 Likes
      - @user.likes.each do |like|
        .two.columns.panel.like
          .like-content
            %h5
              =like.name
            %p
              = like.category
          = link_to "Checkout Like", like.link, class: "tiny button"
.clearfix
