.v-spacer60
.centerify
  .social-resume
    = "Social"
    .inline.resume-span
      = "Resumé"
  %h4.subheader{:style => "color: white;"}= "Lorem ipsum sit amet dolor consecitur"
  = image_tag('facebook-button.png', :style => "position: relative; top: -12px;")
  .centerify.separator
= render 'features'
.pricing-wrapper
  = render 'pricing'
.v-spacer20
.centerify
  = render 'about'
.v-spacer60
