- provide :title, "Home"
.v-spacer60
.centerify
  .social-resume
    = "Social"
    .inline.resume-span
      = "Resumé"
  %h4.subheader Helping You To Hire Socially    
  = link_to user_omniauth_authorize_path(:facebook) do
    = image_tag('facebook-button.png')
  .centerify.separator
= render 'features'
.pricing-wrapper
  = render 'pricing'
= render 'about'
.v-spacer150
