<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | SocialCheck </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= google_webfonts_link_tag :vollkorn, :lato => [400] %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/messages' %>
<div class = "wrapper-heading">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
